.search_panel_container{
    width: 100%;
    padding: 14px 25px;
    height: calc(100vh - 56px);
}

/*@media screen and (max-width: 840px){*/
/*    .search_panel_container{*/
/*        width: 50%;*/
/*    }*/
/*    .temp_div{*/
/*        width: 50%;*/
/*    }*/
/*}*/