#crop {
    position: absolute;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    height: 45%;
    top: 25%;
    left: 43%;
    /*transform: translate(-50%,-50%);*/
    margin: 0;
    padding: 0;
    z-index: 99;
    border: 1.5px dashed black ;
    /*border-style: dashed;*/
}

.angles {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2d3436;
}

.left-middle {
    left: -4.5px;
    top: 50%;
    transform: translateY(-50%);
}

.top-middle {
    top: -4.5px;
    left: 50%;
    transform: translateX(-50%);
}

.right-middle {
    right: -4.5px;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-middle {
    bottom: -4.5px;
    left: 50%;
    transform: translateX(-50%);
}

.left-top {
    left: -4px;
    top: -4px;
}

.right-top {
    right: -4px;
    top: -4px;
}

.right-bottom {
    right: -4px;
    bottom: -4px;
}

.left-bottom {
    left: -4px;
    bottom: -4px;
}