.tool-bar {
    box-shadow: 0px 2px 6px #ccc;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #F8F9FA;
}

.tools, .sub-tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
}

.sub-tools {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(248, 249, 250, 0.79);
    transform: translateY(100%);
    z-index: 9;
}

.sub-tools.crop {
    justify-content: flex-end;
}

.tools li, .sub-tools li {
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.tools li:hover, .sub-tools li:hover {
    background: rgba(233, 233, 233, 0.64);
}

.tools li.tool-active {
    background: #E7E7E7;
}

.sub-tools li.tool-active{
    background: rgba(128, 128, 128, 0.45);
}
.sub-tools-hide{
    display: none;
}

.undo_redo_cont{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-right: 5%;
    align-items: center;
}

.undo_redo_btn{
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #000;
}
.undo_redo_btn:disabled{
    background-color: rgba(0, 0, 0, 0.5);
}
.undo_redo_btn path{
    fill: rgb(153, 153, 153);
}