.draw-image-tools {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.draw-image-tools > div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.draw-image-tools > li {
    text-align: center;
    height: 100%;
}

.draw-image-tools input {
    cursor: pointer;
}

.draw-image-tools input[type='color'] {
    width: 80%;
    margin: 0 auto;
}

.draw-image-tools input#formControlRange {
    width: 300px;
}