.draw-image-tools {
    margin-top: 17px;
}

.draw-image-tools > li {
    text-align: center;
    height: 100%;
}

.draw-image-tools input {
    cursor: pointer;
}

input[type='color'] {
    width: 80%;
    margin: 0 auto;
}

.line_thickness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.line_thickness > div{
    width: 100%;
}