.img_pair_cont img{
    width: 48%;
    height: auto;
}

@media screen and (max-width: 840px) {
    .img_pair_cont{
        flex-direction: column;
    }
    .img_pair_cont img{
        width: 100%;
    }
}