.sidebar-back {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.sidebar-back.visible {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    background-color: #000;
    transition: all 1s;
    max-width: 44vw;
    z-index: 999;
    height: 100% !important;
    display: flex;
    flex-shrink: 0;
}

.sidebar-nav-item {
    padding: 19px;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #999;
    width: 100%;
}

.sidebar-nav-item p {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: bold;
}

.sidebar-nav-item:hover .sidebar-icons {
    background-color: white;
}

.sidebar-nav-item:hover {
    color: white;
}

.sidebar-icons {
    background-color: #999999;
    height: 30px;
    margin-bottom: 6px;
}

/*.sidebar-icons:hover{*/
/*    background-color: white;*/
/*}*/

.sidebar-icons.download {
    mask: url('../../assets/svgs/download-solid.svg') no-repeat center / contain;
}

.sidebar-icons.search {
    mask: url('../../assets/svgs/search-solid.svg') no-repeat center / contain;
}

.sidebar-icons.upload {
    mask: url('../../assets/svgs/upload-solid.svg') no-repeat center / contain;
}

.sidebar .menu-right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*.sidebar .menu-right-part{*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    right: 0;*/
/*    background: red;*/
/*}*/

.menu-left-part {
    background: #293039;
    transition: all 0.25s;
    width: 30vw;
}

.sidebar-nav-item.open {
    background: #293039;
}

.has-search .form-control {
    padding-left: 2.2rem;
    border-radius: 3px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card {
    background: none;
}

.card img {
    cursor: pointer;
}

.sidebar-title {
    color: #fff;
    font-weight: bold;
}

